@CHARSET "UTF-8";
@font-face {
  font-family: 'Amaranth';
  src: url('fonts/amaranth.woff') format('woff'), url('fonts/amaranth.ttf') format('truetype');
}

html {
	font-size: 200%;
	margin: 0;
	padding: 0;
}

body {
	font-size: .8em;
	color: blue;
	margin: 0;
	padding: 0;
}

footer {position: absolute; bottom: 0;}

h1 {
	font:Impact;
	font-size: 300%;
	color: blue;
	text-align: center;
	display: inline;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

h2 {
	font:Bookman, serif ;
	font-size: 200%;
	color: #B4131F;
	text-align: center;
	display: inline;
	font-weight: bold;
	padding: 0;
	margin:  0;
}

h3 {
	font:Oldtown, fantasy ;
	font-size: 150%;
	font-weight: normal;
	color: black;
	display: inline;
	text-align: center;
	padding: 0;
	margin:  0;
}

a /* Liens par défaut (non survolés) */
{
	text-decoration: none;
	font-size:100%;
	color: red;
	font-style: italic;
}

a:hover /* Apparence au survol des liens */
{	font-size:100%;
	text-decoration: blink ;
	text-shadow: rgba(50, 50, 0, 5) 0 5px 5px;
	color: yellow;
} 

a:visited /* Quand le visiteur a déjà vu la page concernée */
{
	color: #AAA; /* Appliquer une couleur grise */
}

li {
	list-style: square;
	font-style: italic;
	padding: 10px 0;
	color: darkgray;
}

button {
	font-size: 20px;
}

.diapo {
	position: absolute;
	top: 0px;
	display: none;
	padding: 0%;
	margin: 0%;
	width: 100%;
	height: 100%;
}
.header{
	display: inline-block;
}
.chapitre {
	display: inline-block;
	background-color: #BD1010;
	color:#B4AAAA;
	width : 50%;
	height : 20%;
	vertical-align:center;
	left: 0px;
	top:0px;
	font-family: Comic Sans MS;
	position: absolute;
	font-size: 200%;
}

.titre {
	display: inline-block;
	background-color:#B4AAAA;
	color: #BD1010;
	width : 50%;
	height : 20%;
	vertical-align:center;
	right:0px;
	font-family: Comic Sans MS;
	position: absolute;
	top:0px;
	font-size: 150%;
}

.corps {
	display: block;
	position: absolute;
	left: 0%;
	top: 20%;
	font:Georgia;
	font-size:100%;
	padding: 0%;
	margin: 0%;
	width: 100%;
	height: 80%;
	z-index: 0;
}

.pieds {
	position: absolute;
	display: block;
	top:80%;
	height: 20%;
	text-align:right;
	font-size: 100%;
	font-weight: normal;
	font-family: Arial;
	color:gray;
	margin: 0;
	padding: 0;
}
.deroule{
	display: block;
	-webkit-transform:rotate(90deg);
}

.pageDeGarde{
	display:block;
	
}

.fin{
	display:none;
	font-family: arial;
	color:#FF20BC;
	position: absolute;
	left:30%;
	top:50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 300%;
	vertical-align: middle;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 70%;
	

}

.lettre{
	display:inline-block;
	font-weight:bold;
	font-size:200%;
}

.afficheDiv {
	display:block;
	border:0px;
 }
.cacheDiv {display :none;}

/*création des flèche à l'aide de la balise span*/
span {
	display:inline-block;
	line-height:40px;
	height:41px;
	font-size: .8em;
	font-weight:bold;
	padding:0 2em 0 0.5em;
	position:relative;
	overflow:hidden;
	color:white;
	white-space:nowrap;
}
span:after {
	position:absolute;
	content:'';
	height:15em;
	width:15em;
	vertical-align:middle;
	display:inline-block;
	margin-top:-1.2em;
	background:#1A72CF;
	background:linear-gradient(to top left , #1489CA 50%, #1A72CF 50%);
	transform:rotate(45deg);
	transform-origin: center right;
	right:120px;
	z-index:-1;
}
span:last-of-type {
	text-shadow:-1px -1px 1px black,
	1px 1px 1px gray;
}
span:last-of-type:after {
	box-shadow:0 0 3px 1px black;
}

.note {
	position:absolute;
	background-color: gray;
	color:white;
	left: 0;
	top: 80%;
	width: 100%;
	height: 20%;
	opacity: 0.5;

}

.Sommaire {
	position:absolute;
	background-color: gray;
	left: 0px;
	top: 20%;
	width: 30%;
	height: 80%;
	opacity: 0.75;
	z-index: 1;
}

.noteInvisible {
  margin-left: -100%;
}

.listing{
	background-color:#FAFDA8;
	vertical-align:middle;
	text-align:left;
	width: 90%;
	color:#707070;
}

.listingGray{
	display:inline-block;
	color:#707070;
}

.listingMaron{
	display:inline-block;
	color: maroon;
}

.listingOrange{
	display:inline-block;
	color: orange;
}

.listingVert{
	display:inline-block;
	color: green;
}

.listingBleu{
	display:inline-block;
	color: #130CA5;
} 

.listingRouge{
	display:inline-block;
	color: red;
} 

.cadreOrganisme{
	position: absolute;
	top: 0%;
	left: 5%;
	width: 100%;
	font: Oldtown, fantasy;
	text-align: left;
	color: Gold;
	font-size: 300%;
}


.cadreTitre {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background-color:#FBE691;
	border-radius: 20px;
	border: 3px blue outset;
	box-shadow: 10px 10px 10px gray;
	font: Verdana, sans-serif;
	color:FireBrick ;
	font-size: 200%;
}

.cadreAuteur {
	position: absolute;
	bottom: 0%;
	right: 10%;
	text-align: right;
	font: Oldtown, fantasy;
	color: DarkCyan;
	font-size: 150%;
}
